body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(243, 225, 225);
}

header {
    background: #5846c7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 20px;
    margin-right: 15px;
}

menu li a {
    display: block;
    padding: 10px;
    background: rgb(19, 38, 99);
}

.titulo {
    text-align: center;
    color: black
    font-size: 27px;
    margin-left: 400px;
    margin-right: 400px;
    /* titulo da pagina */
}



.botao {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 23px;
    height: 33px;
    width: 1px;
    position: absolute;
    left: 600px;
    padding: 6px;
    top: 17px;
    background-color: #452a80;
    color: #ffffff;
    border-top: white;
    border-right: white;
    border-bottom-left-radius: 8px;
    border-left: none;
    border-bottom: none;
}

.botao:hover{
    color:rgba(241, 8, 8, 0.83);
    transition: 1s;
}


.caixa {
    border-radius: 15px;
    height: 39px;
    background-color: #452a80;
    color: white;
}

.imagens{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabela{
    display: flex;
    border-radius: 10px;

}
.container{
    display: flex;
    border: black 1px;
    flex: 2;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    
}
.container_2{
    padding: 10px;
    display: flex;
    flex: 2;
    flex-direction: column;
    border: black 1px;
    height: 400px;
    align-items: center;
    border-radius: 10px;
    gap: 2rem;
}

.nome_prod, .Produto{
    border: black 1px;
    flex: 2;
    width: 720px;
    height: 400px;
    text-align: center ;
}
.opçoes{
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: blueviolet;
    width: 40%;
}
.comprar{
    position: center;
    padding: 5px;
    width: 40%;
}